{% extends '../../admin/bases/_base_admin.html' %}
{% load static humanize custom_filters%}

{% block titulo %}Agregar Producto{% endblock %}

{% block main %}
{% if request.session.pista %}
    <div class="container justify-content-center"> 
        {% if dato %}
        <h1>Actualizar Producto {{ dato }}</h1>
        {% else %}
             <h1>Agregar Producto</h1>
        {% endif %}
        <div class="row ">
            <div class="card p-3">
                <form action="{% if dato %}{% url 'editar_producto' dato.id %}{% else %}{% url 'agregar_producto' %}{% endif %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group mb-3">
                        <label class="mb-2" for="nombreProducto">Nombre del producto</label>
                        <input type="text" class="form-control" id="nombreProducto" name="nombre" placeholder="Nombre del producto" value="{{ dato.nombre }}" required>
                    </div>
                    
                    <div class="form-group mb-3">
                        <label class="mb-2" for="descripcionProducto">Descripción del producto</label>
                        <textarea class="form-control" id="descripcionProducto" name="descripcion" rows="3" required>{{ dato.descripcion }}</textarea>
                    </div>
                    
                    <div class="form-group mb-3">
                        <label class="mb-2" for="precioProducto">Precio Original</label>
                        <input type="number" class="form-control" id="precioProducto" name="precio_original" placeholder="Ingrese precio" value="{{ dato.precio_original }}" required>
                    </div>
                    
                    <div class="form-group mb-3">
                        <label for="enOferta">En Oferta</label>
                        <input type="checkbox" id="enOferta" name="en_oferta" class="form-check-input" {% if dato.en_oferta %}checked{% endif %}>
                    </div>
                    
                    <div class="form-group mb-3">
                        <label class="mb-2" for="precioDescuento">Descuento (%)</label>
                        <input type="number" class="form-control" id="precioDescuento" name="descuento" placeholder="Ingrese descuento" value="{{ dato.descuento }}">
                    </div>
                    
                    <div class="form-group mb-3">
                        <label class="mb-2" for="stockProducto">Stock</label>
                        <input type="number" class="form-control" id="stockProducto" name="stock" placeholder="Ingrese stock" value="{{ dato.stock }}" required>
                    </div>
                    
                    <div class="mb-3">
                        <label class="form-label">Color:</label>
                        <input type="text" class="form-control" name="color" value="{{ dato.color }}" />
                    </div>
                    <div class="form-group mb-3">
                        <label class="mb-2" for="categoriaProducto">Categoría</label>
                        <select class="form-control" id="categoriaProducto" name="categoria" required>
                            {% for key, value in categorias %}
                            <option value="{{ key }}" {% if key == dato.categoria %}selected{% endif %}>{{ value }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group mb-3">
                        <label for="imagenes" class="form-label">Imágenes (máximo 5)</label>
                        <input class="form-control border p-3" type="file" id="imagenes" name="imagenes"  multiple accept=".jpeg,.jpg,.png,.gif,.webp">
                    </div>
                    <div class="d-flex justify-content-end">
                        {% if dato %}
                        <button type="submit" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#successModal">Actualizar</button>
                        {% else %}
                        <div class="">
                            <a href="{% url 'administrador' %}" class="btn btn-danger">Cancelar</a>
                            <button type="submit" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#successModal">Guardar</button>
                        </div>
                        {% endif %}
                    </div>
                </form>
            </div>
            <!-- Banner de publicidad -->
            <!-- <div class="position-fixed bottom-0 end-0 p-4" style="z-index: 1050; width: 300px; height: 300px;">
                <div class="card text-center shadow" style="height: 100%;">
                    <div class="card-body">
                        <p class="mb-0">Banner</p>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
{% else %}
    <div class="container">
        <div class="alert alert-danger mt-3" role="alert">
            Debes iniciar sesión para agregar productos.
        </div>
    </div>
{% endif %}
{% endblock %}